# WordPress
public/wp
public/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql
*.sql

# Dotenv
.env
.env.*

# Application
public/app/plugins/*
!public/app/plugins/.gitkeep
public/app/mu-plugins/*
!public/app/mu-plugins/.gitkeep
public/app/upgrade
public/app/uploads/*
!public/app/uploads/.gitkeep
!public/app/mu-plugins/register-theme-directory.php

# Premium plugins
!public/app/plugins/gravityforms
!public/app/plugins/gravityforms*
!public/app/plugins/acf-*

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# Other
.DS_Store
